<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to '빌려드려요', gives_path %>
<%= link_to '빌려요', takes_path %>
<%= link_to '자유게시판', posts_path %>
<br>
<% if user_signed_in? %>
   <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
   <% else %>
   <%= link_to '로그인', new_user_session_path %>
  <%= link_to '회원가입', new_user_registration_path %>
<% end %>
   <%= link_to '로그인', edit_user_registration_path %>
