<div class="container index-top-container index-container-base-size">
  <div class="header-title">
    <h1>빌려주세요</h1>
  </div>
  <div class="index-header">
    <%= form_tag(takes_path, :method => "get", id: "search-form", class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "form-control" %>
      <%= submit_tag "검색", class: "btn btn-outline-success my-2 my-sm-0 search-btn" %>
    <%end%>
  </div>
  <div class="album py-5 index-album-box">
    <div class="container index-card-container">
      <div class="row">
        <% @takes.each do |take| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow card-box">
              <%if take.endd == true%>
                <%= image_tag("#{take.image.main}", :class => "image-base soldout") %>
                <%= image_tag 'complete.png', :class => "soldout-img" %>
              <%elsif%>
                <%= image_tag("#{take.image.main}", :class => "image-base") %>
              <%end%>
              <div class="card-body">
                <h3>
                  <%= link_to take.title, take %>
                </h3>
                <span>by <b><%= take.name %></b></span>
                <% if take.endd == true %>
                  대여완료
                <%end%>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted"><%= take.created_at.strftime("%Y-%m-%d") %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>

  <%= link_to 'New', new_take_path, class: "btn btn-primary btn-index" %>
</div>
