<div class="container">
  <h1>Takes</h1>

  <%= form_tag(takes_path, :method => "get", id: "search-form", class: "form-inline") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "form-control" %>
    <%= submit_tag "검색", class: "btn btn-outline-success my-2 my-sm-0 search-btn" %>
  <%end%>

  <div class="album py-5">
    <div class="container">
      <div class="row">
        <% @takes.each do |take| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow card-box">
              <%= image_tag("#{take.image.main}") %>
              <div class="card-body">
                <h3><%= link_to take.title, take %></h3>
                <span>by <b><%= take.name %></b></span>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted"><%= take.created_at.strftime("%Y-%m-%d") %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>

  <%= link_to 'New Take', new_take_path %>
</div>
