<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @take.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @take.content %>
  </p><br>

  <p>
    <%= link_to @take.name, profile_path(user_id: @take.user_id ) %>
  </p><br>
  <p>
    <strong>사진:</strong>
    <%= image_tag("#{@take.image.detail}") %>
  </p><br>

  <% @take.take_comments.each do |c|%>
    <%= c.user.name %> : <%= c.content %>
    <a href ='/take_comments/delete/<%= c.id %>'>댓글삭제</a><br>
  <%end%><br>
  ----------------------<br>
  <form action = '/take_comments/create/<%= @take.id %>'>
    <input type = 'textarea' name = 'comment' placeholder = '댓글을 입력해주세요..'>
    <input type = 'submit' value = '작성'>
  </form>

  <% if current_user.id == @take.user_id %>
    <%= link_to 'Edit', edit_take_path(@take) %> 
    <%= link_to '완료', take_end_path(@take)%>

  <% end %>
  <%= link_to 'Back', takes_path %>
</div>
