<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "검색" %>
<%end%>
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>title</th>
      <th>name</th>
      <th>image</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.name %></td>
        <td><%= image_tag("#{post.image.main}") %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
