<div class="container index-top-post-container">

  <div class="header-title">
    <h1 class="display-4">자유게시판</h1>
  </div>
  <div class="index-header index-header-post">
    <%= form_tag(posts_path, :method => "get", id: "search-form", class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "form-control" %>
      <%= submit_tag "검색", class: "btn btn-outline-success my-2 my-sm-0 search-btn" %>
    <%end%>
  </div>

  <table class="table post-table">
    <thead class="thead-dark">
      <tr>
        <th>No.</th>
        <th>title</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td scope="row"><%= post.id %></td>
          <td><%= link_to post.title, post %></td>
          <td><%= post.name %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New', new_post_path, class: "btn btn-primary" %>

</div>
