<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Title</h2>
      <p><%= @post.title %></p>
      <h2>User</h2>
      <p><%= link_to @post.name, profile_path(user_id: @post.user_id ) %></p>
    </div>
    <div class="card-body">
      <h2>Content</h2>
      <p><%= @post.content %></p>
      <br>
      <p><%= image_tag("#{@post.image.detail}") %></p>
    </div>
  </div>


  <% @post.post_comments.each do |c|%>
    <div id="comments">
      <div class="comment clearfix">
        <div class="comment_content">
          <p class="comment_name">
            <strong>username</strong>
          </p>
          <p class="comment_body">
            <%= c.content %>
          </p><br>
          <p>
            <a href ='/post_comments/delete/<%= c.id %>' class="btn btn-primary">삭제</a>
          </p>
        </div>
      </div>
    </div>

  <%end%>
  <br>
  <br>

  <form action = '/post_comments/create/<%= @post.id %>'>
    <input type='textarea' name='comment' placeholder='댓글을 입력해주세요..' class="form-control"><br>
    <input type='submit' value='작성' class="btn btn-primary">
  </form>

  <!-- <p>
    <%= link_to @post.name, profile_path(user_id: @post.user_id ) %>
  </p> -->
  <% if current_user.id == @post.user_id %>
    <%= link_to 'Edit', edit_post_path(@post) %> 
  <%end%>
  <%= link_to 'Back', posts_path %>
</div>
