<!DOCTYPE html>
<html>
  <head>
    <title>Healthstorage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg main-nav">
      <div class="container">
        <a href="<%= root_path %>">
          <%= image_tag "logo.png", class: "main-logo" %>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto main-nav">
            <li class="nav-item active">
              <a class="nav-link mouse" href="<%= gives_path %>">빌려드려요</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link mouse" href="<%= takes_path %>">빌려주세요</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link mouse" href="<%= posts_path %>">자유게시판</a>
            </li>
          </ul>
          <% if user_signed_in? %>
            <ul class="navbar-nav mr-right">
              <li class="nav-item active">
                <a class="nav-link mouse" data-method="delete" href="<%= destroy_user_session_path %>">로그아웃</a>
              </li>
            </ul>
          <% elsif %>
            <ul class="navbar-nav mr-right">
              <li class="nav-item active">
                <a class="nav-link mouse" href="<%= new_user_session_path %>">로그인</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mouse" href="<%= new_user_registration_path %>">회원가입</a>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>

    <div class="container">
      <div class="alert"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="footer-box footer-top">
          <div class="footer-top-inner">
            <%= image_tag "logo.png", class: "footer-logo" %>
          </div>
          <ul class="footer-nav footer-top-inner">
            <li><a href="#">페이스북</a></li>
            <li><a href="#">인스타그램</a></li>
          </ul>
        </div>

        <div class="footer-box footer-bottom">
          <p>
            상호 : <strong>(주)비긴메이트</strong>  사업자: 운동창고 주소 : 서울특별시 마포구 백범로 10 현대벤처빌 1층 tel : 02-7777-77777 <br />
            사업자등록번호 : 789-78-12345  통신판매업신고번호 : 제 2018-서울강남-02246 호(사업자정보확인)  개인정보관리책임자 : 운동왕 (woondongwang@healthstorage.co.kr)
            <br>
            <span class="ft_copyright">2017 © <strong>healthstorage.</strong> All rights reserved.</span>
          </p>
      </div>
    </div>
  </body>
</html>
